@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #234b68;
  margin-top: 50px;
}

.wrapper {
  max-width: 1000px;
  width: calc(100% - 50px);
  margin: 0 auto;
}

.btn {
  width: 200px;
  color: white;
  font-size: 16px;
  background: #234b68;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px #4b5563;
  margin: 80px 0 50px;
  transition: all 0.05s ease-in-out;
}
.btn:hover {
  background: #29517f;
}

#errormsg {
  color: orange;
}

header {
  padding: 100px 0;
}
header img {
  display: block;
  margin: 0 auto;
}

#section_form {
  margin-bottom: 50px;
}
#section_form .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #234b68;
  border-radius: 10px;
  box-shadow: 0 4px 8px #4b5563;
}
#section_form .content .inputs {
  display: flex;
  flex-direction: column;
  max-width: 523px;
  width: 100%;
}
#section_form .content .inputs .input {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  height: 30px;
  margin: 10px 0;
}
#section_form .content .inputs .input::after {
  content: "";
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 60px;
  height: 30px;
  color: white;
  background: #234b68;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 2px 4px #4b5563;
}
#section_form .content .inputs .input.euro::after {
  content: "€";
}
#section_form .content .inputs .input.pourcentage::after {
  content: "%";
}
#section_form .content .inputs .input.ans::after {
  content: "an(s)";
}
#section_form .content .inputs .input label {
  font-size: 16px;
  font-weight: 700;
  color: #234b68;
}
#section_form .content .inputs .input input {
  margin-right: 60px;
  border: 1px solid #234b68;
  padding-left: 10px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 0 2px 4px #234b68;
}
#section_form .content .inputs .input input[type=number] {
  -moz-appearance: textfield;
}
#section_form .content .inputs .input input[type=number]::-webkit-outer-spin-button, #section_form .content .inputs .input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#section_form .content .inputs .input input::-moz-placeholder {
  font-size: 16px;
}
#section_form .content .inputs .input input::placeholder {
  font-size: 16px;
}
#section_form .content .inputs .input input#montant.error {
  border-color: orange;
}
#section_form .content .inputs .input input#taux.error {
  border-color: orange;
}
#section_form .content .inputs .input input#duree.error {
  border-color: orange;
}

#section_tableau {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
#section_tableau.active {
  display: block;
}
#section_tableau .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  border: 1px solid #234b68;
  border-radius: 10px;
  box-shadow: 0 4px 8px #4b5563;
}
#section_tableau .content #close_tab {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #234b68;
  transform: rotateZ(45deg);
  cursor: pointer;
}
#section_tableau .content .scrollx {
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
}
#section_tableau .content .scrollx table {
  width: calc(100% - 100px);
  border-spacing: 0;
  margin: 0 auto;
}
#section_tableau .content .scrollx table thead {
  padding-bottom: 50px;
}
#section_tableau .content .scrollx table thead th {
  text-align: left;
}
#section_tableau .content .scrollx table thead td {
  margin: 5px 10px;
}

.hidepdf {
  display: none;
}
.hidepdf #pdfcontent {
  text-align: center;
  margin: 20px auto;
}
.hidepdf #pdfcontent .imagepdf {
  max-width: 100%;
  margin-bottom: 10px;
}
.hidepdf #pdfcontent h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.hidepdf #pdfcontent table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
.hidepdf #pdfcontent table th,
.hidepdf #pdfcontent table td {
  border: 1px solid #ccc;
  padding: 10px 50px;
}
.hidepdf #pdfcontent table th {
  background-color: #f2f2f2;
  color: #333;
}

@media screen and (max-width: 724px) {
  header {
    padding: 50px 0;
  }
  #section_form .content h2 {
    margin: 10px auto;
    text-align: center;
  }
  #section_form .content .inputs .input {
    flex-direction: column;
    height: 60px;
  }
  #section_form .content .inputs .input input {
    height: 30px;
  }
  #section_form .content .inputs .input::after {
    height: 34px;
    bottom: 0;
    margin-right: 10px;
  }
  #section_form .content .inputs .input label {
    margin: 0 auto;
  }
  #section_form .content .inputs #errormsg {
    margin-left: 10px;
  }
  #section_tableau .content h2 {
    text-align: center;
  }
  #section_tableau .content .scrollx {
    overflow-x: scroll;
  }
  #section_tableau .content .scrollx table {
    width: 700px !important;
  }
}/*# sourceMappingURL=style.css.map */