#section_tableau {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    &.active {
        display: block;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 10px;

        border: 1px solid $blue_microlead;
        border-radius: 10px;

        box-shadow: 0 4px 8px #4b5563;

        #close_tab {
            position: absolute;
            top: -10px;
            right: -10px;

            color: white;
            font-size: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: $blue_microlead;

            transform: rotateZ(45deg);

            cursor: pointer;
        }

        .scrollx {
            width: 100%;
            margin: 0 auto;
            overflow-x: scroll;
            overflow-y: hidden;
            table {
                width: calc(100% - 100px);
                border-spacing: 0;
                margin: 0 auto;
                thead {
                    padding-bottom: 50px;
                    th {
                        text-align: left;
                    }
                    td {
                        margin: 5px 10px;
                    }
                }
            }
        }
    }
}
